.App {
  text-align: center;
}

.Headshot {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Resume-button {
  color: #ffffff;
  background-color: rgb(2, 77, 144);
  min-height: 10vmin;
  padding: 2vmin 5vmin;
  font-size: 2vh;
}

.Inline-link {
  color:rgb(2, 77, 144);
}
.Inline-link:hover {
  color:cyan;
}
